.about {
  background-color: #e1ebed;
  padding-left: 5rem;
  color: #331c52;
}
.title2 {
  padding-top: 3rem;
  margin-top: 0;
}
.para2 {
  margin-right: 50%;
  padding-bottom: 3rem;
  margin-bottom: 0;
}

@media screen and (max-width: 570px) {
  .about {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .title2 {
    padding-top: 2rem;
    margin-top: 0;
  }
  .para2 {
    margin-right: 0;
  }
}
