.about {
  background-color: #e1ebed;
  padding-left: 5rem;
  color: #331c52;
}
.title2 {
  padding-top: 3rem;
  margin-top: 0;
}
.para2 {
  margin-right: 50%;
  padding-bottom: 3rem;
  margin-bottom: 0;
}
