nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(#8121d0, #331c52);
}

nav > ul > li {
  padding: 0rem 2rem 0rem 0rem;
  display: inline-block;
  font-weight: bold;
}

a {
  font-size: calc(0.5rem + 0.8vw);
  color: white;
  text-decoration: none;
}

.logo {
  width: 100px;
}
/* NavBar dynamic */
.navbar-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}
.burger {
  width: 50px;
  padding-right: 1rem;
}

.burger-icon {
  display: none;
}

.picNav {
  width: 50px;
}

@media (max-width: 570px) {
  .burger-icon {
    display: block;
    cursor: pointer;
  }
  .navbar ul {
    display: none;
  }
  .navbar ul.show {
    display: block;
  }
  .picNav {
    width: 30px;
  }
}
